*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin-top: 3vh;
    text-decoration: underline;
}

.container{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.drawDiv{
    width: 40px;
    height: 40px;
    background-color: cyan;
}

button{
    height: 50px;
    width: 50px;
    margin: 5px;
}

.cherry-red{
    background-color: #D72638;
}

.cream-white{
    background-color: #F4EBD0;
}

.sky-blue{
    background-color: #4EA5D9;
}

.mustard-yellow{
    background-color: #F2C14E;
}

.mint-green{
    background-color: #6DD3A0;
}

.deep-navy{
    background-color: #1B263B;
}

.soft-orange{
    background-color: #F28F3B;
}

.lavender-purple{
    background-color: #9D79BC;
}